certifi==2017.7.27.1
chardet==3.0.4
coreapi==2.3.1
coreschema==0.0.4
Django==1.11.4
django-cors-headers==2.3.0
django-environ==0.4.5
django-filter==1.1.0
djangorestframework==3.6.4
djangorestframework-jwt==1.11.0
djangorestframework-simplejwt==2.1
h5py==2.8.0
idna==2.6
itypes==1.1.0
Jinja2==2.9.6
Keras==2.2.0
Keras-Applications==1.0.2
Keras-Preprocessing==1.0.1
Markdown==2.6.11
MarkupSafe==1.0
numpy==1.14.5
psycopg2==2.7.5
psycopg2-binary==2.7.5
PyJWT==1.5.2
pytz==2017.2
PyYAML==3.13
requests==2.18.4
scipy==1.1.0
six==1.11.0
uritemplate==3.0.0
urllib3==1.22
