.video-interview-view-table-header {
  text-align: center!important;
  font-weight: 600!important;
  font-size: 1rem!important;
  padding-left: 5px!important;
}

.video-interview-view-table-cell {
  text-align: center!important;
  font-weight: 300;
  font-size: 0.8rem;
  padding-left: 20px;
  padding-right: 20px;
}