.profile-language-container {
  padding-top: 33px;
  padding-left: 200px;
  padding-right: 200px;
}

@media only screen and (max-width: 1300px) {
  .profile-language-container {
    padding-top: 33px;
    padding-left: 0px;
    padding-right: 00px;
  }
}

.profile-language-fluency-group {
  flex-direction: row!important;
  padding-left: 33px!important;
}
