.comingsoon-background-image {
	width: 100%;
}
.comingsoon-layout {
	border: 1px solid white;
	position: relative;
	top: 45%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
