.slogan-description-background {
	width: 100%;
	border-radius: 0rem;
	margin-bottom: 0rem;
	margin-top: 3.5rem;
	background-color: transparent!important;
	color: #20426f!important;
	position: absolute;
}
.home-background-image {
	width: 100%;
}
