.profile-edit-container{
	margin-top: 100px;
	position: relative;
	margin-bottom: 40px;
}
.profile-edit-title {
	margin-bottom: 30px;
}
.profile-edit-title h3{
	margin: 0 auto;
	text-align: center;
}
.profile-edit-container h5{
	font-weight: 600;
}
.profile-edit-buttons {
	margin: 40px 0 20px;
}
.profile-edit-buttons h4{
	font-weight: 600;
}
.tabHead button > div > div{
	white-space: pre-wrap;
}
.tabContent {
	border: 1px solid #EEE;
	margin-bottom: 20px;
	box-shadow: inset 0px -2px 11px -1px rgba(38,143,242,1);
}
.tabContent h5{
	margin-top: 15px;
}
/*
.tabContent .react-swipeable-view-container {
	transform: inherit !important;
}
.tabContent div[aria-hidden="true"] {
	display: none;
	transition: all 0.15s;
}*/
.tabContent > div > div{
	padding: 20px;
}
.skill-button-primary{
	border: 1px solid rgba(153,153,153,0.6) !important;
	overflow: initial !important;
	position: relative;
}
.profile-skills .skill-button-primary:after{
	content: " ";
	position: absolute;
	left: 50%;
	bottom: -12px;
	width: 2px;
	height: 11px;
	background: #000;
}
.profile-subskills{
	border-top: 2px solid #000000;
	margin-top: 10px;
	padding-top: 10px;
	position: relative;
}
.profile-subskills > button{
	overflow: initial !important;
}
.profile-subskills > button:before{
	content: " ";
	position: absolute;
	left: 50%;
	top: -11px;
	width: 2px;
	height: 11px;
	background: #000;
}
.profile-other-each-subskills{
	border-top: 2px solid #000;
	margin-top: 10px;
	padding-top: 10px;
	position: relative;
}
.profile-other-each-subskills > button{
	overflow: initial !important;
}
.profile-other-each-subskills > button:before{
	content: " ";
	position: absolute;
	left: 50%;
	top: -10px;
	width: 2px;
	height: 10px;
	background: #000;
}
.profile-edit-container button span{
	text-transform: capitalize !important;
}
.profile-checkbox{
	position: relative;
}
.profile-checkbox > label{
	position: absolute;
	top: 5px;
	left: 50px;
	line-height: 15px;
}
.profile-checkbox > label span{
	margin-left: 5px;
	font-size: 80%;
}
.profile-go-buttons {
	position: absolute;
	top: 0px;
	right: 20px;
}
.datePicker{
	margin-top: 20px;
}
.datePicker > div {
	width: 100% !important;
}
div[name="emergency_relationship"] {
	width: 100% !important;
}
@media only screen and (max-width: 767px) {
    .profile-go-buttons {
		top: 40px;
	}
}

.profile-field-name {
	font-size: 1rem!important;
  /*font-weight: 600!important;*/
  text-align: right!important;
}

.profile-position-sub-type-item {
	margin-left: 15px;
}

.profile-group-title {
	font-size: 1.25rem;
	font-weight: 600;
	margin-top: 15px;
}

.profile-gender-row {
	margin-left: 25px!important;
	margin-right: 25px!important;
  padding-top: 10px!important;
  padding-bottom: 10px!important;
}

.profile-save-button-group-col {
	text-align: right;
}

.profile-emercy-title {
	padding-top: 30px;
}

.profile-other-info-button {
	display: block!important;
}

.profile-other-info-button-title {
  font-size: 1rem;
  font-weight: 600;
  padding-top: 5px;
  padding-bottom: 5px;
}

.profile-other-info-button-status {
	color: #d6d7d8;
}

.profile-other-info-button-group {
	display: inherit;
}

@media only screen and (max-width: 767px) {
   .profile-other-info-button-group{
		display: block;
	}
	.profile-other-info-button-container {
		margin-top: 10px;
		margin-bottom: 10px;
	}
}

.profile-other-info-button-container {
	margin-left: 10px;
	margin-right: 10px;
}