.profile-nationality-container {
  padding-top: 100px;
  padding-left: 200px;
  padding-right: 200px;
}

@media only screen and (max-width: 900px) {
  .profile-nationality-container {
    padding-top: 100px;
    padding-left: 0px;
    padding-right: 00px;
  }
}

@media only screen and (max-width: 1530px) {
  .profile-nationality-container {
    padding-top: 100px;
    padding-left: 0px;
    padding-right: 00px;
  }
}

.profile-passport-expiration-date {
  width: 200px!important;
}

.profile-have-green-card-radio-button-group {
  padding-left: 18px;
  flex-wrap: nowrap!important;
  display: block!important;
}

.profile-have-green-card-radio-button-group {
  padding-left: 18px;
  flex-wrap: nowrap!important;
  display: block!important;
}

.profile-nationality-field-name {
	font-size: 1rem!important;
  text-align: left!important;
}

.profile-nationality-date-picker {
	margin-top: 0px!important;
}
.profile-metric-dropdown-option-col-cm {
  text-align: right!important;
}