.profile-container{
	margin-top: 100px;
}
.profile-image img{
	width: 100%;
}
.profile-buttons > div, .profile-buttons a > div{
	margin-bottom: 15px;
}
.profile-container .details-content{
	margin-left: 0px;
	margin-right: 0px;
}
.profile-container .details-content img {
    height: auto;
}
.profile-name{
	text-align: left;
}