.record-ctl {
    padding: 5px;
    border: solid 1px;
    border-radius: 5px;
    /*width: 580px;*/
}

.progress-bar {
    width: 250px !important;
}

#myProgress {
    width: 100%;
    background-color: grey;
}

#myBar {
    height: 30px;
    background-color: green;
}

.countdown-label {
    /*display: inline-block;*/
}

.countdown-bar {
    /*display: inline-block;*/
    /*width: 280px;*/
}

.record-btn-wrapper {
    text-align: center;
    margin-top: 20px;    
    /*display: inline-block;*/
}

.btn-start-stop button {
    background-color: #C00 !important;
}
.btn-start-stop button span{
    color: white !important;
}