
.video-interview {
  text-align: center;
  margin-top: 100px;
}

.video-interview-header {
  text-align: center;
  margin-top: 20px;
}

.btnn-start-practice {
  margin: 10px auto;
  font-size: 23px;
}

.btnn-adjust-settings {
  margin: 10px auto;
}

.btnn-not-ready {
  margin-top: 30px;
  font-size: 13px;
}

.camera-box {
  margin-top: 100px;
}

.audio-box {
  margin-top: 10px;
}

.video-practice {
  margin-top: 100px;
}

.video-practice .camera-box video {
  margin-left: -150px;
}

.question-box {
  padding: 0 100px;
  margin-top: 30px;
}

.camera-box {
  padding: 0 100px;
}

.question-header {
  font-family: bold, serif;
  font-size: 20px;
}

.question-time {
  margin-top: 30px;
}

.video-playback {
  text-align: center;
}

.video-box {
  width: 50%;
}

.react-player {
  margin: auto;
}

.btn-vpb {
  margin-top: 20px;
  width: 250px;
}

.btn-playback {
  margin: 20px auto;
}

.playbackbtn-wrapper {
  text-align: center;
}

canvas {
  background: gray;
}