.contact-info-view-container {
  padding-top: 30px;
  padding-left: 200px;
  padding-right: 200px;
}

.general-view-container {
  padding-top: 100px;
}


@media only screen and (max-width: 1680px) {
  .contact-info-view-container{
    padding-top: 30px;
    padding-left: 0px;
    padding-right: 00px;
  }
}